.titulo-class {
    color:whitesmoke;
    background-color: black;
    padding: 10px;
    margin: 75px;
}

.instrucciones_class {
    color: gray;
    background-color: honeydew;
    font-weight: 400;
    padding: 10px;
    margin: 75px;
}

.MyForm-class {
    padding: 10px;
    margin: 65px;
}

.result-class {
    color: #333231;
    background-color: honeydew;
    font-weight: 400;
    margin: 75px;
    background-size: inherit;
    display: inline-block;
}

.fondo {
    background-image: url('Portada.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
    background-position-x: center;
}
